
body {
  margin: 0;
  padding: 20px 0;
  background-color: #eee;
}

body, textarea {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

.footer {
  padding: 15px;
  text-align: center;
  color: #999;
}
.footer a:link,
.footer a:visited { color: #666; text-decoration: underline;}

a, a:visited, a:active {
  color: #364cc9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

th {
  text-align: left;
  border-bottom: solid 1px #ddd;
}

td.date { width: 150px; font-size: 12px; }

h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

h1, p {
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table td, table th {
  padding: 10px 15px;
}
th { background: #f5f5f5; border-bottom: 1px solid #eee; }
td {
  border-top: solid 1px #ddd;
}

pre {
  background-color: #eee;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-word;
}

textarea {
  width: 100%;
  height: 100px;
  border: solid 1px #ddd;
  padding: 10px;
}

hr {
  border: none;
  height: 0;
  border-top: solid 1px #ddd;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 8px 18px;
  outline: 0 !important;
  background: #FFF;
}
.btn:hover { text-decoration: none; }
.btn-danger { background: #E25517; color: #fff; border: #D44323;}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
}

.no-record {
  padding: 50px;
  text-align: center;
  font-size: 16px;
}

.toolbar {
  margin-bottom: 15px;
  height: 34px;
  line-height: 34px;
}
.toolbar .pull-right { float: right; }

#notice {
  padding: 8px 15px;
  background: #3CBD46;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 3px;
}

pre {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #eee;
  font-size: 12px;
  font-family: Menlo, Monaco, Consolas, monospace;
}

h1 { font-size: 16px; }

.pagination {
  padding-bottom: 15px;
  font-size: 14px;
}

.pagination li { display: inline; }

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #eee;
}
.pagination em,
.pagination .current {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #f0f0f0;
  background: #f0f0f0;
  font-style: normal;
}
