<!DOCTYPE html>
<html>
<head>
  <title>Exception track</title>
  <%= stylesheet_link_tag    "exception-track/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% if notice %>
  <div id="notice"><%= notice %></div>
  <% end %>

  <%= yield %>
</div>

<div class="footer">
  <a href="https://github.com/rails-engine/exception-track">ExceptionTrack</a> powered.
</div>

</body>
</html>
