<!DOCTYPE html>
<html>
<head>
  <title>Exception track</title>
  <%= stylesheet_link_tag    "exception-track/application", media: "all" %>
  <%= javascript_include_tag "exception-track/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
